@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(236.85deg, #C06C84 27.26%, #355C7D 96.03%);
}

/* Logo
*/

#logo {
  height: 60px;
  padding: 5px;
  background: #333439;
  color: #F6F6F6;
}

#logo h4 {
  font-family: 'Explora', cursive;
  font-size: 50px;
  display: flex;
	float: left;
  margin-left: 35px;
}

/* Barra de navegação
*/

.menu ul {
	list-style: none;
  text-decoration: none;
	display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
}

.menu ul li {
  margin-left: 3px;
}

.menu ul li a {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  margin-right: 20px;
}

.container {
  background: #ECF4FF;
  color: #1C1C1C;
  margin: 64px;
  padding: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display:flex;
}

.perfil-foto {
  border-radius: 400px;
  max-height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titulo {
  margin-left: 20px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 16px;
  background: #ECF4FF;
  border: 2px solid #0E1D2F;
  border-radius: 100px;
  box-sizing: border-box;
}

.cont-projeto2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  background: linear-gradient(230.65deg, #d8c6cb 5%, #d9d9db 90.19%);
  box-shadow: 2px 2px 4px #787878;
  border-radius: 20px;
}

.cont-projeto {
  margin-top: 35px;
  background: linear-gradient(230.65deg, #d8c6cb 5%, #d9d9db 90.19%);
  box-shadow: 2px 2px 4px #787878;
  border-radius: 20px;
}
.projetos {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 45px;
}

.projetos ul {
  text-align: center;
  color: #1C1C1C;
  font-weight: 700;
  font-size: 30px;
  margin-top: -15px;
}

.projetos li {
  list-style: none;
	text-decoration: none;
  padding: 5px;
  color: #1C1C1C;
  font-weight: 400;
  font-size: 20px;
}

.projetos p {
  color: #1C1C1C;
  font-weight: 400;
  font-size: 20px;
}

.dark {
  background: linear-gradient(236.85deg, #355C7D 27.26%, #6C5B7B 96.83%);
}

.dark .projetos p {
  color: #F6F6F6;
}

.dark .projetos ul {
  color: #F6F6F6;
}

.dark .container {
  background: #333439;
  color: #F6F6F6;
}

.dark .projetos {
  color: #F6F6F6;
}

.dark .tema button {
  background: #1C1C1C;
  color: #F6F6F6;
  border: 2px solid #F7F7F7;
}

.dark .cont-projeto {
  margin-top: 35px;
  background: linear-gradient(230.65deg, #1c1c1c 5%, #000000 90.19%);
  box-shadow: 2px 2px 4px #0b0b0b;
  border-radius: 20px;
}

.dark .cont-projeto2 {
  margin-top: 35px;
  background: linear-gradient(230.65deg, #1c1c1c 5%, #000000 90.19%);
  box-shadow: 2px 2px 4px #0b0b0b;
  border-radius: 20px;
}

.rodape {
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
}

.midias a{
  list-style: none;
	text-decoration: none;
  color: #1C1C1C;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.voltartopo a{
  padding: 5px;
  color: #1C1C1C;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.dark .voltartopo a{
  padding: 5px;
  color: #F6F6F6;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

footer{
  margin-bottom: 45px;
}